{% extends 'base.html.twig' %}

{% block title %}Finder - {% endblock %}

{% block body %}
    {% if tastes %}
        <div class="tinder">

            <div class="tinder--status">
                <i class="fa fa-remove"></i>
                <i class="fa-solid fa-check"></i>
            </div>

            <div class="d-flex justify-content-center">
                <a href="{{ path('app_finder_reset') }}">
                    <button class="btn btn-primary text-white">Reset?</button>
                </a>
            </div>

            <div class="tinder--cards">
                {% for taste in tastes %}
                    {% if app.user.id == taste.user.id %}
                        {% if taste.tasteStatus is same as(null) %}
                            <div class="tinder--card shadow" data-interestid="{{ taste.movie.id }}">
                                <img src="{{ taste.movie.thumbnail }}">
                                {# <h3 class="text-primary">{{ movie.title }}</h3> #}
                                <p class="text-dark">{{ taste.tasteStatus }}</p>
                                <p class="d-none interestId">{{ taste.movie.id }}</p>
                            </div>
                        {% else %}
                            {# TODO: this doesn't work #}
                            {% if loop.index == tastes|length %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 d-flex flex-column justify-content-center"
                                             style="min-height: 100vh">
                                            <h2 class="text-center pt-5 mt-5 text-white">You've either swiped all the
                                                movies or your watchlist is empty.</h2>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    {% endif %}
{% endblock %}
